.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img{
width: 200px;
}

.content p{
    text-align: justify;
    
    
}

footer {
  color: white;
  text-align: center;
  background-color: black;
  padding: 1rem;
  margin-top: 2rem;
}
